@{
    ViewBag.Title = "Home Page";
}
<br /><br />
<h1 align="center">Клиент - MVC, реализующий связь с сервисом, получение данных с сервиса (технология WCF), так же реализация логики из моделей и  работу с базой данных.</h1>
