@model WebClientMVC.Models.ReadLogInSite

@{
    ViewBag.Title = "InfoSiteLog";
}

<h2 align="center" style="color:#cf1324">Данные из логов сайта "TestWcfSite"</h2>
<style>
    .layer {
        overflow: scroll;
        width: 100%;
        height: 600px;
        padding: 5px;
        border: solid 1px black;
    }
</style>
<div class="layer">
    @Html.Raw(ViewBag.InfologInSite)
</div>
